<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -1
    RewriteRule \.(?:css|js|jpe?g|gif|png)$ - [L]
   
   	RewriteRule ^api/(.*)$ route_api.php?action=$1 [QSA,L,END]
</IfModule>